        <footer>
            <div class="footer_main">
                <div class="footer-list">
                    <div class="footer-box footer-1">
                        <ul>
                            <li>
                                <h5>Sheld</h5>
                            </li>
                            <li><a href="{% url 'home' %}"> Home </a></li>
                            <li><a href="{% url 'services' %}"> Services </a></li>
                            <li><a href="{% url 'about' %}"> About </a></li>
                            <li><a href="{% url 'contact' %}"> Contact </a></li>
                        </ul>
                    </div>
                    <div class="footer-box footer-3">
                        <ul>
                            <li>
                                <h5>Tools</h5>
                            </li>
                            <li><a href="{% url 'portscan' %}"> Port Scanner </a></li>
                            <li><a href="{% url 'intercept' %}"> Intercept </a></li>
                            <li><a href="{% url 'nslookup' %}"> Nslookup </a></li>
                            <li><a href="{% url 'traceroute' %}"> TraceRoute </a></li>
                            <li><a href="{% url 'whois' %}"> Whois </a></li>
                        </ul>
                    </div>
                    <div class="footer-box footer-2">
                        <ul>
                            <li>
                                <h5>Quick links</h5>
                            </li>
                            {% if user.is_authenticated %}
                            <li><a data-toggle="modal" data-target="#UserModel" href="#"> logout </a></li>
                            {% else %}
                            <li><a href="{% url 'login' %}"> login </a></li>
                            {% endif %}
                            <li><a href="#"> Privacy Policy</a></li>
                            <li><a href="#"> Terms and Conditions </a></li>
                            <li><a href="#"> Jobs </a></li>
                        </ul>
                    </div>
                    <div class="footer-box footer-4">
                        <ul>
                            <li>
                                <h5>See the latest and Follow us</h5>
                            </li>
                            <li><a href="#"> facebook </a></li>
                            <li><a href="#"> instergram </a></li>
                            <li><a href="#"> twitter </a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <p class="copyright">copyright &copy; <span class="year"></span> All the rights are reserved </p>
        </footer>
    </body>
    <script>
        let css = 'font-size: 2rem; color: #ff1744; font-weight: 900; text-shadow: 1px 1px #eeeeee'
        console.log("%cHEYY, you came here.. %s", css, 'IG@nafiu.dev');
    </script>
</html>