{% extends 'base.html' %}
{% load static %}
{% block content %}

<section class="Home">
    <div class="home-main">
        <h2>Welcome back</h2>

        <div class="container">
            <div class="row">
                <div class="col-md-6 mx-auto">
                    <div class="card card_background">
                        <div class="card-header red-color-background text-white">
                            <h4>
                                <i class="fas fa-sign-in-alt"></i> Login</h4>
                        </div>
                        <div class="card-body">
                            <form action="{% url 'login' %}" method="POST">
                                {% csrf_token %}
                                <div class="form-group">
                                    <label for="username" class="float-left"> <span class="red-color">Username:</span>
                                    </label>
                                    <input type="text" name="username" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <label for="password" class="float-left"><span
                                            class="red-color">Password:</span></label>
                                    <input type="password" name="password" class="form-control" required>
                                </div>
                                <input type="submit" value="Login" class="btn red-color-btn btn-block">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div> 

        <p>don't have a sheld account? <a href="{% url 'register' %}"> <span class="red-color">register</span> </a> </p>
    </div>
</section>

{% endblock %}